page-page2 {
    .mainpagestyle {
        background: #F5F5F5;
        text-align: center;
    }
    .leftimagestyle {
        width: 80%;
        height: 80%;
        margin: 10%;
    }
    .cardstyle {
        width: 88%;
        height: 70%;
        margin: 8%;
        text-align: center;
    }
    .textboxstyle {
        border-bottom: 1px solid #E0E0E0;
    }
    .centerbuttonstyle {
        width: 50%;
        padding: 3%;
        margin-left: 27%;
        font-size: medium;
    }
    .labelstyle {
        text-align: center;
        font-size: small;
        color: #9e9e9e;
    }
    .ios,
    .md {
        page-home {
            .scroll-content {
                background-color: map-get($colors, light);
            }
            ion-card-header {
                font-weight: bold;
            }
        }
    }
}